<div class="cantainer">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">PlanCanceled</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
	<div class="text-center">
    <h3>サブスクリプションを解約し無料プランへ変更しました</h3>
    <p>有料プランを再開される方は再度プラン変更より選択ください</p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
      <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
      <%= link_to "マイページへ戻る", user_path(current_user), class: 'btn btn-muted' %>
    </div>
  </div>
</div>