<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">PlanChange</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
	<div class="text-center">
    <% if current_user.plan == 'pln_c97be8359fee9eecf65b59eeed35' %>
    	<h3>ベーシックプランへとプラン変更が完了しました</h3>
    <% elsif current_user.plan == 'pln_572790307dd04b525bdd0a155347' %>
    	<h3>プレミアムプランへとプラン変更が完了しました</h3>
    <% else %>
    	<h3>フリープランへとプラン変更が完了しました</h3>
  	<% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
      <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
      <%= link_to "マイページへ戻る", user_path(current_user), class: 'btn btn-success' %>
    </div>
  </div>
</div>