<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:;">Teamsofservice</a>
    </div>
    <%= render 'users/users' %>
  </div>
</nav>
<div class="row">
  <div class="col-md-8 col-md-offset-3 mx-auto text-center">
    <div class="card mx-auto text-left">
      <h3 class="card-header">有料プランに関する同意書</h3>
      <hr>
      <div class="card-body">
      	<p>本利用規約（以下「本規約」といいます。）には、本サービスの提供条件及び当社と登録ユーザーの皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。また当該は有料プランに関する内容となります。</p>
      	<h4>第1項　料金プラン</h4>
      	<p>本サービスでは無料プラン（月額0円）・ベーシックプラン（月額480円）・プレミアムプラン（月額980円）の3プランを提供するサービスとなります。また月額課金制（サブスクリプションモデル）となっておりプラン変更ならびにプランの停止はボタン1つで行うことができます。</p>
      	<h4>第2項　無料トライアル（14日間）</h4>
      	<p>本サービスでは無料トライアル（14日間）を設けております。<br>トライアル期間内の課金は行われずトライアル終了タイミングでの課金となります。<br>トライアル期間の計測は本サービス登録後初回の有料プラン登録時から計測されます。よって有料プラン間のプラン変更によってトライアル期間が初期化されるものではございませんのでご注意ください。</p>
      	<h4>第3項　課金タイミング</h4>
      	<p>トライアル期間終了タイミングで初回の課金が実行されます。その後は1ヶ月ごとに課金が実行されます。<br>有料プランのキャンセルを行った際課金タイミングによっては引き落としがされてしまう場合がございます。ご了承ください。</p>
      	<h4>第4項　有料プラン間における差額返金</h4>
      	<p>有料プラン間におけるプラン変更を実施された際日割り機能が実行されます。プラン変更のタイミングで新規プランの課金が即座に実行され前プランの差額分が返金されます。</p>
      	<br>
      	<p>【最終改定日：2020年10月12日】</p>
      </div>
		</div>
	</div>
</div>	