<div class="container">
	<div class="col-sm-12 col-md-4 mx-auto text-center">
    <div class="card rounded-0 p-0 shadow-sm">
      <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
      <div class="card-body text-left">
        <h4 class="card-text">ご意見ありがとうございます。頂いたご意見を参考により良いサービスをつくって参ります。また会える日を楽しみにしております。</h4>
        <%= link_to "Homeへ戻る", "/mainpages/", class: "btn btn-raised btn-success" %>
      </div>
    </div>
  </div>
</div>