
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:;">Toreka</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="material-icons">dashboard</i>
            HOME
          </a>
        </li>
        <li class="nav-item ">
          <%= link_to "/mainpages/plan_comparison", class: "nav-link" do %>
            <i class="material-icons">public</i>
            プラン比較
          <% end %>
        </li>
        <li class="nav-item ">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="material-icons">fingerprint</i>
            Login
          <% end %>
        </li>
        <li class="nav-item ">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            <i class="material-icons">person_add</i>
            無料新規登録
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

		
	<div class="login-view py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto py-5">
          <div class="card mx-auto text-left">
            <div class="card-body">
            	<h3>ご登録いただいたメールアドレス宛にサイト登録に関するメールを送付致しました。</h3>
						  <p>通常30秒から1分程度で届きます。<br>
							届きましたら内容確認の上添付URLより登録を完了してください。</p>
							<p class="text-danger">※数分待っても届かない場合はお手数ですが再度新規登録画面からお手続きください。</p>
            	<%= link_to new_user_registration_path, class: "btn btn-primary btn-md" do %>
					      <i class="material-icons">how_to_reg</i>
					      無料で新規登録
					    <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>