<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Inquiry</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
    <div class="card rounded-0 p-0 shadow-sm">
      <%= image_tag "tai.png", class: "card-img-top", width: "50%;" %>
      <div class="card-body text-left">
        <h4 class="card-text">お問い合わせありがとうございました！</h4>
        <%= link_to "戻る", user_path(current_user), class: "btn btn-raised btn-success" %>
      </div>
    </div>
  </div>
</div>