
<% if @resource.try(:unconfirmed_email?) %>
	<p>平素より『Toreka』をご利用いただき誠にありがとうございます。<br>以下のURLをクリックしてメールアドレス変更手続きを完了してください。<br>
	<%= link_to "こちらからログインください", confirmation_url(@resource, confirmation_token: @token) %><br></p>
	<p>【注意事項】<br>
	・このURLの有効期限は24時間です。<br>
	・有効期限を超過した場合は再度はじめからご登録ください。<br>
	・リンク押下後はアドレスが変更された状態でログインいたしますのでそのままご利用ください。<br>
	・※このメールは送信専用です。ご返信をいただいても対応できまねますのでお問い合わせはアプリを起動して「お問い合わせ」からお願いします。</p>
<% else %>
	<p>『Toreka』にお申し込みいただき誠にありがとうございます。</p>
	<p>アカウント情報の「仮登録」を受付いたしました。<br>下記のリンクより本登録を完了してください。</p>
	
	<p>【本登録用URL】<br>
	<p><%= link_to '本登録を実施する', confirmation_url(@resource, confirmation_token: @token) %><br>
	上記リンクを押下するとログイン画面へ遷移しますのでそのまま「SIGNIN」ボタンを押下しサイトへ入るようにしてください</p><br>
	
	<p>【注意事項】<br>
	・本登録用URLの有効期限は24時間となっております。<br>
	・有効期限を超過した場合は再度はじめからご登録ください。<br>
	・※このメールは送信専用です。ご返信をいただいても対応できまねますのでお問い合わせはアプリを起動して「お問い合わせ」からお願いします。</p>
<% end %>